

.active 
  display: block


.opacity
  opacity: 1
  transition: opacity 0.25s

.show
  opacity: 1
  display: block

.hide
  display: none
  width: 220px
  transition: width 3s



.wide
  transform: scale(1.3)

.has-positive-translate
  transform: translate(1.25 * 100px)

.has-negative-translate
  transform: translate(-(1.25 * 100px))


