

.active 
  display: block


.opacity
  opacity: 1
  transition: opacity 0.25s

.show
  opacity: 1
  display: block

.hide
  display: none
  width: 220px
  transition: width 3s



.wide
  // transform: 
  // transition: width 1s


.has-positive-translate
  transform: translate(1.4 * 100 - 95px) 

.has-negative-translate
  transform: translate(-(1.4 * 100 - 95px))  


